.activityBoxContainerXl {
  position: relative;
  background-color: rgb(0, 0, 0);
  /* this border only to stay for guide */
  border: 1px solid rgba(255, 255, 255, 0.292);
  border-radius: 15px;
  width: 700px;
  height: 250px;
  /* This will be manually done for responsive layout */
  /* top: 15%;
    left: 40%; */
  z-index: 10;
  padding: 15px;
  scrollbar-width: none;
}

@media (min-width: 1536px) {
  /* Tailwind's 2xl breakpoint */
  .activityBoxContainer2Xl {
    width: 400px;
    height: 450px;
  }
}
