@keyframes dash {
  0% {
    stroke-dashoffset: 240;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 240;
  }
}

.arrow-path {
  animation: dash 5s infinite;
}

.arrowContainer {
  transform: rotate(-20deg);
  transform-origin: center;
}
