@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-font{
  font-family: var(--font-poppins);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.largeText {
  font-size: 60px;
  font-weight: 500;
  font-family: var(--font-poppins);
}

.mediumText {
  font-size: 45px;
  font-weight: 500;
  font-family: var(--font-poppins);
}

.smallText {
  font-size: 35px;
  font-weight: 400;
  font-family: var(--font-poppins);
}
