@keyframes bounce {
  0% {
    transform: translateY(40%);
  }
  20% {
    transform: translateY(-4px);
  }
  30% {
    transform: translateY(4px);
  }
  40% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(1px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-30%);
    opacity: 0;
  }
}

.text-bounce {
  animation: bounce 6s forwards;
}

.text-flip-large {
  font-size: 60px;
  font-family: var(--font-poppins);
  font-weight: 600;
}

.textflipBox {
  /* Same size to font of child text-flip-size font-size */
  height: fit-content;
  width: fit-content;
  align-items: center;
}

.text-flip-medium {
  font-size: 45px;
  font-family: var(--font-poppins);
  font-weight: 600;
}

.text-flip-small {
  font-size: 35px;
  font-family: var(--font-poppins);
  font-weight: 600;
}

.text-flip-nav {
  font-size: 20px;
  font-family: var(--font-poppins);
  font-weight: 600;
}

@keyframes springWidth {
  0% {
    width: 102%;
  }
  50% {
    width: 98%;
  }
  70% {
    width: 101%;
  }
  90% {
    width: 99%;
  }
  100% {
    width: 100%;
  }
}

.transitionWidth {
  animation: springWidth 3s ease forwards;
  /* animation: widthChange 2s ease-in; */
}
