.container {
  max-width: 100px;
}

.cube-container {
  perspective: 1000px;
}

.cube-container .cube {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: menuboxRotate 30s infinite;
}

.cube-container .cube-face {
  width: 100px;
  height: 100px;
  position: absolute;
  background: purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube-container .front {
  background: #172554;
  transform: translateZ(50px);
}

.cube-container .back {
  background: #1e1b4b;
  transform: rotateY(180deg) translateZ(50px);
}

.cube-container .left {
  background: #082f49;
  transform: rotateY(-90deg) translateZ(50px);
}

.cube-container .right {
  background: #18181b;
  transform: rotateY(90deg) translateZ(50px);
}

.cube-container .bottom {
  background: #2e1065;
  transform: rotateX(-90deg) translateZ(50px);
}

.cube-container .top {
  background: #0f172a;
  transform: rotateX(90deg) translateZ(50px);
}

@keyframes menuboxRotate {
  0% {
    /* Shows Front */
    transform: rotateY(0deg);
    transform: rotateX(0deg);
  }
  15% {
    /* Shows Right */
    transform: rotateY(-90deg);
  }
  35% {
    /* Shows Back */
    transform: rotateY(-180deg);
  }
  55% {
    /* Shows Left */
    transform: rotateY(-270deg);
  }
  75% {
    /* Shows Top */
    transform: rotateY(-90deg);
    transform: rotateX(-90deg);
  }
  95% {
    /* Shows Bottom */
    transform: rotateY(-90deg);
    transform: rotateX(-270deg);
  }
}
